name: Test and Lint

on:
  workflow_call:
    secrets:
      PERSONAL_ACCESS_TOKEN:
        required: true

jobs:
  test-and-lint:
    name: Test and Lint
    continue-on-error: true
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.x"

      - name: Run go mod tidy
        run: go mod tidy -v

      - name: Lint and Test
        uses: AliceDiNunno/action-go-test-and-lint@v0.4.2