name: Test and Lint

on:
  workflow_call:

jobs:
  test-and-lint:
    name: Test and Lint
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: "1.x"

      - name: Run go mod tidy
        run: go mod tidy -v

      - name: Lint and Test
        uses: AliceDiNunno/action-go-test-and-lint@v0.4.1